html {
  background: url("img/soccer+ball.jpg") no-repeat fixed center;
  background-size: cover;
}

p {
  font-size: larger;
}

h1 {
  background-color: aqua;
}

body {
  text-align: center;
  margin-bottom: auto;
  background: rgba(255, 255, 255, 0.8);
  width: 600px;
  padding: 25px 100px;
  margin: 25px auto;
  text-align: center;
  border-radius: 25px;
}



.nav a {
  margin: 0px 25px;
}
